body {
    /*padding: 6px;*/
    background-color:aliceblue;
    
	/*color: #313131;*/
	line-height: 1;
	padding: 5px;
}

.page-content {
	margin:0 auto;
	margin-top: 50pt;
	padding: 2px;
	opacity: 0.93;
	
}

.nav-personal {
    
    margin: 3px;
    border-radius: 5px;
}
.body-personal {
    padding: 6px;
    margin: 5px;
}



footer {

    position:fixed;
    padding: 8px;
	left:0px;
	bottom:2px;
	height:30px;
	width:100%;

    background-color:gray;
    
    font-size: 10px;

    text-align: center;

    color: white;

    
}

