
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <input value="Usuários" type="submit" formaction=@Url.Action("Index", "Usuario") formmethod="get" class="btn btn-primary btn-lg btn-block"/>
        <input value="Projetos" type="submit" formaction=@Url.Action("Index", "Projeto") formmethod="get" class="btn btn-primary btn-lg btn-block"/>
    </div>

}


